In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import trim_mean  
from scipy import stats
from scipy.stats import sem

In [2]:
df = pd.read_csv('../data/datamarket_productos_de_supermercados.csv')
df.head()

,url,supermarket,category,name,description,price,reference_price,reference_unit,insert_date,product_id
0,https://www.dia.es/compra-online/productos/per...,dia-es,perfumeria_e_higiene_cuidado_facial_contorno_d...,BABARIA contorno de ojos aloe 15 ml,NaN,6.95,463.33,l,2021-03-06 00:00:00,4b7ace808900ac37a95340d9ace0828e
1,https://www.dia.es/compra-online/productos/per...,dia-es,perfumeria_e_higiene_afeitado_espuma_gel_y_cre...,LEA loción hidratante para barba dosificador 7...,NaN,7.95,106.00,l,2021-03-06 00:00:00,14e8d0b1d3b9cd362c67d5f10ad90a6c
2,https://www.dia.es/compra-online/productos/per...,dia-es,perfumeria_e_higiene_afeitado_espuma_gel_y_cre...,LA TOJA crema de afeitar piel sensible tubo 15...,NaN,2.49,16.60,l,2021-03-06 00:00:00,c9f7ef628954c449d0d3cd07c84f4509
3,https://www.dia.es/compra-online/productos/per...,dia-es,perfumeria_e_higiene_colonias_femeninas,BONTE colonia be diva fragancia floral frasco ...,NaN,6.99,69.90,l,2021-03-06 00:00:00,bc31703586c2bdeb880c840ddde2943b
4,https://www.dia.es/compra-online/productos/per...,dia-es,perfumeria_e_higiene_colonias_femeninas,BONTE colonia be in love fragancia oriental-fl...,NaN,6.99,69.90,l,2021-03-06 00:00:00,3aa272069f27ab91af3930cdd471bdfc

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8075908 entries, 0 to 8075907
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   url              object
 1   supermarket      object
 2   category         object
 3   name             object
 4   description      object
 5   price            float64
 6   reference_price  float64
 7   reference_unit   object
 8   insert_date      object
 9   product_id       object
dtypes: float64(2), object(8)
memory usage: 616.1+ MB

In [4]:
df.describe()

              price  reference_price
count  8.075890e+06     8.075902e+06
mean   4.746785e+00     1.942013e+01
std    4.896309e+01     6.314651e+02
min    8.000000e-02     3.000000e-03
25%    1.390000e+00     1.800000e+00
50%    2.200000e+00     4.546000e+00
75%    3.990000e+00     9.920000e+00
max    7.915050e+03     1.633333e+05

In [9]:
df.isnull().sum()

url                      0
supermarket              0
category                 0
name                    86
description        5106625
price                   18
reference_price          6
reference_unit        5480
insert_date              0
product_id               0
dtype: int64

In [10]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

name                    86
description        5106625
price                   18
reference_price          6
reference_unit        5480
dtype: int64

In [12]:
null_cols = null_cols[null_cols > 0] / len(df) * 100
null_cols

name                0.001065
description        63.232828
price               0.000223
reference_price     0.000074
reference_unit      0.067856
dtype: float64

In [16]:
df2 = df.drop(['product_id', 'url', 'insert_date'], axis=1)

In [17]:
df2.head()

,supermarket,category,name,description,price,reference_price,reference_unit
0,dia-es,perfumeria_e_higiene_cuidado_facial_contorno_d...,BABARIA contorno de ojos aloe 15 ml,NaN,6.95,463.33,l
1,dia-es,perfumeria_e_higiene_afeitado_espuma_gel_y_cre...,LEA loción hidratante para barba dosificador 7...,NaN,7.95,106.00,l
2,dia-es,perfumeria_e_higiene_afeitado_espuma_gel_y_cre...,LA TOJA crema de afeitar piel sensible tubo 15...,NaN,2.49,16.60,l
3,dia-es,perfumeria_e_higiene_colonias_femeninas,BONTE colonia be diva fragancia floral frasco ...,NaN,6.99,69.90,l
4,dia-es,perfumeria_e_higiene_colonias_femeninas,BONTE colonia be in love fragancia oriental-fl...,NaN,6.99,69.90,l

In [18]:
df2.isnull().sum()

supermarket              0
category                 0
name                    86
description        5106625
price                   18
reference_price          6
reference_unit        5480
dtype: int64

In [22]:
null_displ = df2.loc[df2['price'].isnull(), ['supermarket', 'category','name', 'price', 'reference_price',]]
null_displ

,supermarket,category,name,price,reference_price
6364896,carrefour-es,productos_frescos_frutas_naranjas_y_otros_citr...,Limón a granel 1 Kg aprox,NaN,2.29
7099959,dia-es,despensa_desayunos_y_dulces_bolleria,BISCUITS GALICIA mini magdalenas con mantequil...,NaN,NaN
7104429,dia-es,despensa_lacteos_y_huevos_mantequilla_y_margarina,DIA margarina ligera barqueta 500 gr,NaN,NaN
7105156,dia-es,despensa_pastas_harinas_y_masas_pastas,DIA SELECCIÓN MUNDIAL tortiglioni paquete 500 gr,NaN,NaN
7115492,dia-es,despensa_pastas_harinas_y_masas_pastas,DIA SELECCIÓN MUNDIAL tortiglioni paquete 500 gr,NaN,NaN
7119122,dia-es,despensa_lacteos_y_huevos_mantequilla_y_margarina,DIA margarina ligera barqueta 500 gr,NaN,NaN
7120923,dia-es,despensa_desayunos_y_dulces_bolleria,BISCUITS GALICIA mini magdalenas con mantequil...,NaN,NaN
7275360,carrefour-es,bebidas_alcoholes_ginebra,Ginebra Gordon's 1 l.,NaN,13.49
7390454,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7404524,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7412257,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7424746,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7444449,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7456427,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7467475,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7484773,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7499350,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99
7523086,carrefour-es,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,25.99

In [23]:
df2 = df2[df2['price'].notna()]

In [24]:
null_displ2 = df2.loc[df2['price'].isnull(), ['supermarket', 'category','name', 'price', 'reference_price',]]
null_displ2

Empty DataFrame
Columns: [supermarket, category, name, price, reference_price]
Index: []